.App {
  text-align: center;
}

.form-component {
  background-color: #ffffff;
  width: 400px;
  height: 50vh;
}

.input-field {
  margin-bottom: 20px;
}
.input {
  display: inline-block;
  margin-left: 12px;
}

select {
  margin-bottom: 20px;
}

.label {
  display: block;
}
.registration-form {
  background-color: #ffffff;
}
